.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**/*.js
!node_modules/@vscode-elements/elements/dist/**
node_modules/**
!node_modules/@vscode-elements/**
.editorconfig
.git
.github
